<div class="card">
  <%= image_tag('round.jpg', alt: 'LOVR Booking App')%>
  <h1><%= @love_pod.name %></h1>

  <p>
    <strong>Description:</strong>
    <%= @love_pod.description %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= @love_pod.capacity %>
  </p>

  <p>
    <strong>Availability time frame:</strong>
    <%= @love_pod.availabilty_start_time.strftime("%H:%M") %> - <%= @love_pod.availabilty_end_time.strftime("%H:%M")  %>
  </p>
</div>
