<h1>Love Pods</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Capacity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @love_pods.each do |love_pod| %>
      <tr>
        <td><%= love_pod.name %></td>
        <td><%= love_pod.description %></td>
        <td><%= love_pod.capacity %></td>
        <td>
          <%= link_to 'Show', show_from_index_love_pod_path(love_pod), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_love_pod_path(love_pod), class: 'btn btn-warning' %>
          <%= link_to 'Delete', love_pod_path(love_pod), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to 'New Love Pod', new_love_pod_path, class: 'btn btn-primary' %>
<% end %>
