<h2><%= @love_pod.name %></h2>

<p>Description: <%= @love_pod.description %></p>
<p>Capacity: <%= @love_pod.capacity %></p>

<%= link_to 'Edit', edit_festival_love_pod_path(@festival, @love_pod) %> |
<%= link_to 'Back to Love Pods', festival_love_pods_path(@festival) %>
