<h1>Bookings for <%= @festival.name %></h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <strong>Date:</strong> <%= booking.booking_date.strftime("%B %d, %Y") %><br>
      <strong>Time:</strong> <%= booking.start_time.strftime("%I:%M %p") %><br>
      <strong>Duration:</strong> <%= booking.duration %> hours<br>
      <strong>Love Pod:</strong> <%= booking.love_pod.name %><br>
      <%= link_to 'View Booking', booking_path(@booking), class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>
