<%#= form_with(model: @booking, local: true) do |form| %>
<!--  <div class="field">-->
    <%#= form.hidden_field :festival_id %>
    <%#= form.label :start_time %>
    <%#= form.text_field :start_time, readonly: true %>
<!--  </div>
  <div class="field">
    <%#= form.label :duration, "Duration (minutes)" %>-->
    <%#= form.number_field :duration %>
<!--  </div>

  <%#= form.submit "Confirm Booking" %>-->
<%# end %>
<!---->

<h2>Booking Details</h2>

<ul>
  <li>Date: <%= @booking.booking_date.strftime('%a %d %b')  %></li>
  <li>Start time: <%= @booking.start_time.strftime('%H:%M') %></li>
  <li>Duration: <%= @booking.duration %></li>
  <li>Love Pod: <%= @available_slot.love_pod.name %></li>
  <li>Price: <%= humanized_money_with_symbol(@booking.amount) %></li>
</ul>


<%= form_with model: @booking, url: festival_bookings_path(@festival), method: :post, local: true do |form| %>
  <%= form.hidden_field :booking_date %>
  <%= form.hidden_field :start_time %>
  <%= form.hidden_field :duration %>
  <%= form.hidden_field :available_slot_id %>
  <%= form.hidden_field :festival_id %>
  <%= form.submit "Confirm booking", class: 'button', class: 'btn btn-info' %>
<% end %>

<%#= link_to "Cancel booking", booking_path(@booking) %>
<%= link_to "Back to festival", check_availability_festival_path(@festival) %>
