<h1>My pending bookings</h1>

<% @pending_bookings.each do |booking| %>
  <li><strong>Festival:</strong> <%= booking.available_slot.festival.name %></li>
  <li><strong>Date:</strong> <%= booking.booking_date.strftime('%a %d %b %Y') %></li>
  <li><strong>Start time:</strong> <%= booking.start_time.strftime('%I:%M:%S %p') %></li>
  <li><strong>Duration:</strong> <%= booking.duration %> minutes</li>
  <li><strong>Love Pod:</strong> <%= booking.available_slot.love_pod.name %></li>
  <li><strong>Status:</strong> <%= booking.status %></li>
  <li><strong>Price:</strong> <%= humanized_money_with_symbol(booking.amount) %></li>

  <button id="pay" class="butt">Confirm booking & pay</button>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= booking.checkout_session_id %>'
      });
    });
  </script>

  <%= link_to "Cancel booking", booking_path(booking.id),
      method: :delete, data: { confirm: 'Are you sure?' }, class: 'butt'  %>
<% end %>
