<% @pending_bookings.each do |booking| %>
  <div class="card book-card booking-details">
    <p><strong>Festival:</strong> <%= link_to booking.available_slot.festival.name, festival_path(booking.available_slot.festival), class: "pending-link" %></p>
    <p><strong>Date:</strong> <%= booking.booking_date.strftime('%a %d %b %Y') %></p>
    <p><strong>Start time:</strong> <%= booking.start_time.strftime('%I:%M:%S %p') %></p>
    <p><strong>Duration:</strong> <%= booking.duration %> minutes</p>
    <p><strong>Love Pod:</strong> <%= link_to booking.available_slot.love_pod.name,
                                  festival_love_pod_path(booking.available_slot.festival.id, booking.available_slot.love_pod), class: "pending-link" %></p>
    <p><strong>Price:</strong> <%= humanized_money_with_symbol(booking.amount) %></p>
    <p><strong>Status: <span class="pending-status"><%= booking.status %></span></strong></p>

    <% countdown_end_time = booking.created_at + 30.minutes %>
    <% countdown_remaining_seconds = [countdown_end_time - Time.current, 0].max.to_i %>

    <p><strong>Time before cancellation:</strong> <span id="countdown-<%= booking.id %>"></span></p>

    <div>
      <button id="pay-<%= booking.id %>" class="butt button-blue-filled">Pay & confirm booking</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          const paymentButton = document.getElementById('pay-<%= booking.id %>');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= booking.checkout_session_id %>'
            });
          });

          const countdownElement = document.getElementById('countdown-<%= booking.id %>');
          let remainingSeconds = <%= countdown_remaining_seconds %>;

          const updateCountdown = () => {
            if (remainingSeconds > 0) {
              const minutes = Math.floor(remainingSeconds / 60);
              const seconds = remainingSeconds % 60;
              countdownElement.innerText = `${minutes}m ${seconds}s`;
              remainingSeconds -= 1;
            } else {
              countdownElement.innerText = 'Expired';
              paymentButton.disabled = true;
            }
          };

          updateCountdown();
          setInterval(updateCountdown, 1000);
        });
      </script>

      <%= link_to "Cancel booking", booking_path(booking.id),
          method: :delete, data: { confirm: 'Are you sure?' }, class: 'butt button-blue'  %>
    </div>
  </div>
<% end %>
