<%= form_with url: check_availability_festival_path(@festival), method: :get, local: true do |form| %>
  <div class="field">
    <%= form.label :date, "Select Date" %>
    <%= form.date_field :date, min: @festival.start_date.to_s, max: @festival.end_date.to_s, required: true %>
  </div>
  <div class="field">
    <%= form.label :duration, "Duration (minutes)" %>
    <%= form.select :duration, options_for_select([25, 55]), required: true %>
  </div>
  <%= form.submit "Show Available Time Slots", class: 'button' %>
<% end %>

<% if @available_slots.present? %>
  <h2>Available Time Slots:</h2>
  <ul>
    <% @available_slots.each do |slot| %>
      <li>
        <p>Time Slot: <%= slot %></p>
        <%= form_with model: @booking, url: bookings_path, method: :post, local: true do |form| %>
          <%= form.hidden_field :festival_id, value: @festival.id %>
          <%= form.hidden_field :date, value: @date %>
          <%= form.hidden_field :start_time, value: DateTime.parse("#{@date} #{slot.split(' - ').first}") %>
          <%= form.hidden_field :duration, value: @duration %>
          <%= form.submit "Confirm Booking", class: 'button' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No available slots for the selected date and duration.</p>
<% end %>

