<%# This form allows users to re-check availability without going back %>
<div class="check-container">
  <%= form_with url: check_availability_festival_path(@festival), method: :get, local: true do |form| %>
    <div class="field">
      <%= form.label :date, "Select Date" %>
      <%= form.select :booking_date, options_for_select(@date_options, @date), required: true %>
    </div>
    <div class="field">
      <%= form.label :duration, "Duration (minutes)" %>
      <%= form.select :duration, options_for_select([25, 55], @duration), required: true %>
    </div>
    <%= form.submit "Show available time slots", class: 'butt button-pink' %>
  <% end %>
</div>

<%# Displaying the available slots %>
<% if @date.present? && @duration.present? && @festival_slots.present? %>
  <h3>Available time slots on <%= Date.parse(@date).strftime('%a %d %b %Y') %>:</h3>

  <% filtered_slots = @festival_slots.select do |slot|
    slot.date.to_date == @date.to_date &&
    slot.duration == @duration
  end.sort_by(&:time_frame) %>

  <% booked_slots = @festival_slots.select do |slot|
    Booking.exists?(available_slot_id: slot.id)
  end %>

  <% free_slots = filtered_slots.reject do |filtered|
      booked_slots.any? do |booked|
      (booked.duration == 55 && filtered.duration == 25 &&
      booked.date == filtered.date &&
      booked.love_pod == filtered.love_pod &&
      booked.start_time + 30.minutes == filtered.start_time) ||

      (booked.date == filtered.date &&
      booked.love_pod == filtered.love_pod &&
      booked.start_time == filtered.start_time)
    end
  end %>

  <% unique_free_slots = free_slots.group_by(&:time_frame).map do |time_frame, slots|
    slots.first
  end %>

  <div class="slots-list">
    <% if unique_free_slots.present? %>
      <% unique_free_slots.group_by(&:time_frame).each do |time_frame, slots| %>
        <% slots.each do |slot| %>
          <div class="slot-element">
            <div class="time-frame"><%= slot.time_frame %> (<%= humanized_money_with_symbol(slot.price) %>)</div>
            <%= link_to "Book a slot", new_festival_booking_path(
              festival_id: @festival.id,
              booking_date: slot.date,
              start_time: slot.start_time,
              duration: slot.duration,
              available_slot_id: slot.id,
              love_pod: slot.love_pod,
              slots_sku: slot.sku,
              amount: slot.price
            ), class: 'butt button-green' %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="grey-text">No available slots for the selected date and duration.</p>
    <% end %>
  </div>
<% else %>
  <p class="grey-text">No available time slots for the selected date and duration.</p>
<% end %>

<%= link_to "Back to festival", festival_path(@festival), class: "butt button-white" %>
</div>
