<%# This form allows users to re-check availability without going back %>
<%= form_with url: check_availability_festival_path(@festival), method: :get, local: true do |form| %>
  <div class="field">
    <%= form.label :date, "Select Date" %>
    <%= form.date_field :date, min: @festival.start_date.to_s, max: @festival.end_date.to_s, required: true, value: @date %>
  </div>
  <div class="field">
    <%= form.label :duration, "Duration (minutes)" %>
    <%= form.select :duration, options_for_select([25, 55], @duration), required: true %>
  </div>
  <%= form.submit "Show Available Time Slots", class: 'button' %>
<% end %>

<%# Displaying the available slots %>
<% if @date.present? && @duration.present? && @available_slots.present? %>
  <h2>Available Time Slots on <%= @date %> :</h2>
  <% filtered_slots = @available_slots.select { |slot| slot.date.to_date == @date.to_date && slot.duration == @duration } %>
  <% if filtered_slots.present? %>
    <ul>
      <% filtered_slots.each do |slot| %>
        <li>
          <p>Time Slot: <%= slot.time_frame %></p>
          <%= form_with url: festival_bookings_path(@festival, @booking), method: :post, local: true do |form| %>
            <%= form.hidden_field :booking_date, value: slot.date %>
            <%= form.hidden_field :start_time, value: slot.start_time %>
            <%= form.hidden_field :duration, value: slot.duration %>
            <%= form.hidden_field :available_slot_id, value: slot.id %>
            <%= form.submit "Confirm Booking", class: 'button' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No available slots for the selected date and duration.</p>
  <% end %>
<% else %>
  <p>No available slots for the selected date and duration.</p>
<% end %>
