<% if user_signed_in? && current_user.admin? %>

  <h1 class="page-title">Edit Festival</h1>

  <%= form_with(model: @festival, local: true, html: { class: 'festival-form' }) do |form| %>
    <% if @festival.errors.any? %>
      <div id="error_explanation" class="errors">
        <h2><%= pluralize(@festival.errors.count, "error") %> prohibited this festival from being saved:</h2>
        <ul>
        <% @festival.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, id: :festival_name, class: 'form-input' %>
    </div>

    <div class="field">
      <%= form.label :location, class: 'form-label' %>
      <%= form.text_field :location, id: :festival_location, class: 'form-input' %>
    </div>

    <div class="field">
      <%= form.label :start_date, class: 'form-label' %>
      <%= form.date_field :start_date, id: :festival_start_date, class: 'form-input' %>
    </div>

    <div class="field">
      <%= form.label :end_date, class: 'form-label' %>
      <%= form.date_field :end_date, id: :festival_end_date, class: 'form-input' %>
    </div>

    <div class="field">
      <%= form.label :love_pods, "Select Love Pods", class: 'form-label' %>
      <%= form.collection_select :love_pod_ids, LovePod.all, :id, :name, {}, {multiple: true, size: 10} %>
    </div>

    <div class="actions">
      <%= form.submit 'Save', data: { confirm: 'Be careful when removing festival dates or love pods - this could lead to the cancellation of pre-existing bookings.' }, class: 'button' %>
    </div>

  <% end %>

  <%= link_to 'Back to festival', festival_path(@festival), class: 'back-link' %>

<% else %>
  <p>You are not authorized to see this page.</p>
<% end %>
