<h1 class="page-title">Festivals</h1>
<div class="festivals-list">
  <% @festivals.each do |festival| %>
    <div class="card festival">
      <h2 class="festival-name"><%= link_to festival.name, festival_path(festival) %></h2>
      <div class="festival-description">
          <% if festival.photo.attached? %>
            <%= cl_image_tag(festival.photo.key) %>
          <% else %>
            <%= cl_image_tag(festival.image_url) %>
          <% end %>
        <p class="festival-location">Location: <%= festival.location %></p>
        <p class="festival-dates">Dates: <%= festival.start_date.strftime('%a %d %b %Y') %>
          to <%= festival.end_date.strftime('%a %d %b %Y') %></p>
      </div>
    </div>
  <% end %>
</div>
