
<div class="card festival-details">
  <%= image_tag @festival.photo %>
  <h2><%= @festival.name %></h2>

  <div class="festival-info">
    <p><strong>Location:</strong> <%= @festival.location %></p>
    <p><strong>Dates:</strong> <%= @festival.start_date.strftime('%a %d %b %Y') %> to <%= @festival.end_date.strftime('%a %d %b %Y') %></p>
  </div>

  <div class="festival-love-pods">
    <h3>Love Pods at this Festival</h2>
      <% if @festival.love_pods.any? %>
      <div class="butt-list love-pods-list">
          <% @festival.love_pods.each do |love_pod| %>
              <%= link_to love_pod.name, festival_love_pod_path(@festival, love_pod) %>
          <% end %>
      </div>
      <% else %>
        <p>No Love Pods available for this festival.</p>
      <% end %>
  </div>


  <div class="butt-list">
    <%= link_to 'Check availability', check_availability_festival_path(@festival), class: 'butt button-pink' %>
    <%= link_to 'Back to Festivals', festivals_path, class: 'butt button-white' %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Edit', edit_festival_path(@festival), class: 'butt button-blue' %>
      <%= link_to 'Delete', festival_path(@festival), method: :delete, data: { confirm: 'Are you sure?' }, class: 'butt button-blue' %>
    <% end %>

  </div>
</div>
