<div class="festival-details">
  <h1 class="festival-title"><%= @festival.name %></h1>
  <p class="festival-info"><strong>Location:</strong> <%= @festival.location %></p>
  <p class="festival-info"><strong>Dates:</strong> <%= @festival.start_date %> to <%= @festival.end_date %></p>

<h2>Love Pods at this Festival</h2>
  <% if @festival.love_pods.any? %>
    <ul class="love-pods-list">
      <% @festival.love_pods.each do |love_pod| %>
        <li class="love-pod">
          <%= link_to love_pod.name, love_pod_path(love_pod), class: 'btn btn-link' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No Love Pods available for this festival.</p>
  <% end %>

<div class="festival-actions">
  <%= link_to 'Check availability', check_availability_festival_path(@festival), class: 'button' %>
</div>

<div class="festival-actions">
  <%= link_to 'Back to Festivals', festivals_path, class: 'button' %>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_festival_path(@festival), class: 'button' %>
    <%= link_to 'Delete', festival_path(@festival), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>
